{% extends "layout.html" %}
{% block script %}
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.4.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script type="text/javascript" src="static/js/add_service_definition.js"></script>
{% endblock %}
{% block body %}
<form action="{{ url_for('show_service_def_form') }}" method="post" class=add-entry>
  <table>
    <tr>
      <td>Code:</td>
      <td><input type=text size=30 name=code></td>
    </tr>
  </table>
  <div id="attributeContainer"></div>
  <div><input id="addAttributeButton" type=button value="Add Attribute"/></div>
  <input type="submit" name="submit" value="Submit">
</form>
<script id="valueTemplate" type="text/x-jQuery-tmpl">
    <div id="values">
        <tr>
            <td>Key:</td>
            <td><input type=text size=10 name=key id="key"></td>
            <td>Name:</td>
            <td><input type=text size=10 name=name id="name"></td>
        </tr>
    </div>
</script>
<script id="attributeTemplate" type="text/x-jQuery-tmpl">
    <div id="attribute">
        <table>
            <tr>
                <td>Order:</td>
                <td>${order}</td><input type="hidden" name="order${order}" id="order${order}" value=${order}>
            </tr>
            <tr>
                <td>Variable:</td>
                <td><input type=radio value=True name="variable${order}" id="variable${order}" >True <input type=radio value=False name="variable${order}" id="variable${order}">False
                </td>
            </tr>
            <tr>
                <td>Attribute Code:</td>
                <td><input type=text size=30 name="attr_code${order}" id="attr_code${order}"></td>
            <tr>
            <tr>
                <td>Data type:</td>
                <td>
                    <select name="datatype${order}" id="datatype${order}">
                        <option value=sring>string</option>
                        <option value=number>number</option>
                        <option value=datetime>datetime</option>
                        <option value=text>text</option>
                        <option value=singlevaluelist>singlevaluelist</option>
                        <option value=multivaluelist>multivaluelist</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea name="description${order}" id="description${order}" row=5 column=40></textarea></td>
            </tr>
            <tr>
                <td>Required:</td>
                <td><input type=radio value=True name="required${order}" id="required${order}">True <input type=radio value=False name="required${order}" id="required${order}">False
                </td>
            </tr>
            <tr>
                <td>Values:</td>
                <td>
                    <table>
                        <div class="valueContainer"></div>
                    </table>
                    <div><input class="addValueButton" type=button value="Add Value"/></div>
            </tr>
        </table>
    </div>
</script>
{% endblock %}
